* {
    box-sizing: border-box;
}

:root {
    /* for repetative settings & easy overall quick changes */
}


main {
    width: 90%;
    /* background-color: antiquewhite; */
    display: flex;              
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    height: 200vh;
}

/* header section start */
header {
   background-color: rgb(73, 128, 128); 
}

header nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    background-color: aliceblue;
}

/* header section end */


/* figure section start */
figure {
   display: flex;
   width:calc(111.1%);
}
figure img {
    display: flex;
    /* transform: scale(2,1); */
    height: 20vh;
    width:100%;
}
/* figure section end */


/* article section start */
article {
    display: flex;
    background-color: brown;
}
/* article section end */


/* section section XD start */
section {
    display:flex;
    background-color: rgb(136, 56, 138);
}
/* section section XD end */


/* footer section start */
footer {
    display: flex;
    background-color: darkgoldenrod;
}
/* footer section end */
