* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* STYLE HELPERS SECTION START */
:root {
    /* for repetative settings & easy overall quick changes */
    --mainblue:rgb(8, 28, 37);
    --lighttan:rgb(197, 229, 246);
    --darktan:rgb(88, 147, 199);
    --brighttext:rgb(167, 239, 239);
    --darkbg: black;
}

.white-text {
    color:var(--darktan);
 }
/* STYLE HELPERS SECTION START */


body {
    height: 100vh;
    background-color: var(--mainblue);
    position: relative;
}


/* HEADER SECTION START */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mainblue) ;
    color: var(--brighttext);
    padding: 5% 5% 5% 1.2%;
    border-bottom: 10px solid var(--darktan);
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(0, 0, 0);
 }

 /* h1 my name stylings */
 header h1 {
    font-size: 45px;
    color:rgb(169, 233, 253);
    border-left: 8px solid white;
    border-radius: 5%;
    padding-left: 3%;
 }



 /* stylings for the nav-bar links in nav bar overall */
 header nav ul {
     display: flex;
     justify-content: center;
     margin: 3% 3% 0 5%;
     padding: 0 5% 0 5%;

 }


 /* stylings for content within nav-bar links  */
 header nav ul li {
    display: flex;
    padding: 0 0 0 0;
    margin: 0 0 0 3%;
    font-size: 25px;
    
 }

 /* this will remove link decoration and add color to nav bar links */
 header nav ul li a {
    color: white;
    text-decoration: none;
    
 }

 header nav ul li a:hover {
    color: var(--brighttext);
    font-style: italic;
    text-decoration: underline;
 }
 
/* HEADER SECTION END */
 

/* MAIN TAG STYLING */
main {
    display: flex;              
    flex-direction: column;
    width: 100%;

}


/* FIGURE SECTION START */
figure {
   display: flex;
   width:100%;

} /* border img settings */
figure img {    
    display: flex;
    justify-content: flex-end;
    height: 20vh;  
    width:100%;
    border-bottom: 10px solid var(--darktan);
}


/* section for profile img style */
figure #self-img {
    position: absolute;
    display: flex;
    order: -1; /* order -1 translates the img over to the other side of the container */
    width:18%;
    margin-left: 1%;

    border-left: 10px solid var(--darktan);
    border-right: 10px solid var(--darktan);
}

/* FIGURE SECTION END */


/* ABOUT ME ARTICLE START */
/* overall article container */
article {
    display: flex;
    align-content: flex-end;
    background-color: var(--mainblue);
}

/* about me label container */
article aside { 
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brighttext);
    width: 25%;
    font-size: 20px;
    background-color: var(--mainblue);
}

/* about me paragraph container */
.about-me-para {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainblue);
    border-bottom: 10px solid var(--darktan);
    border-left: 10px solid var(--darktan);
    color: var(--mainblue);
    height: 25vh;
    width: 100%;
}

/* about me paragraph */
.about-me-para p {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    margin: auto;
    color: var(--brighttext);
    font-size: 20px;
    font-weight: bold;
}
/* ABOUT ME ARTICLE END */



/* PROJECTS SECTION START */
     /* overall project section container */
    section {
        display: flex;
        align-content: flex-end;
        background-color:  var(--mainblue);
    }
    
    /* projects label container */
    section aside { 
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--brighttext);
        width: 25%;
        font-size: 20px;
        background-color: var(--mainblue);
        height: 50vh;
    }
    
    /* project img-link container */
    .project-section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background-color:var(--darkbg);
        border-bottom: 10px solid var(--darktan);
        border-left: 10px solid var(--darktan);
        color: var(--mainblue);
        width: 100%;
    }

     
    /* smaller project-img container for relative position anchor */
    .project-img-container {
        position: relative;
        display: inline-block;
    }

    .project-img-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 17% 5% 15%;
        padding: 0;
    }

    .project-img-container img {
        display: flex;
        width: 100%;
        margin: 0 5% 15% 5%;
        padding: 0;
    }

    .overlay-text2 {
        position: absolute;
        top: 70%; 
        left: 80%; 
        transform: translate(-50%, -50%); 
        background-color: #000000; 
        color: #fff; 
        padding: 10px 20px; 
        font-size: 15px;
        box-shadow: 5px 10px 15px var(--mainblue); 
        text-align: center;
    }



    /* project main image container  for relative position anchor*/
    #main-img-container {
        position: relative;
        display: inline-block;
    }

    #main-img-container img {
        display: flex;
        position: relative;
        flex-wrap: nowrap;
        flex: 1;
        justify-content: center;
        color: var(--mainblue);
        font-size: 20px;
        margin: 10% 5%;
        border: 5px solid  var(--mainblue);
        padding: 0;
        width: 90%;
    }

    
    .overlay-text1 {
        position: absolute;
        top: 70%; 
        left: 80%; 
        transform: translate(-50%, -50%); 
        background-color: #000000; 
        color: #fff; 
        padding: 10px 20px; 
        font-size: 15px;
        box-shadow: 5px 10px 15px var(--mainblue); 
        text-align: center;
    }
/* PROJECTS SECTION END*/


/* FOOTER SECTION START */
/* overall footer container */
footer {
    display: flex;
    align-content: flex-end;
    background-color: var(--darktan);
}


/* footer label container */
footer aside { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--mainblue);
    border-top: 10px solid var(--lighttan);
    margin-top: -10px;
    width: 25%;
}

/* footer contact-me link container */
.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color:var(--lighttan);
    border-left: 10px solid var(--mainblue);
    color: var(--mainblue);
    height: 5vh;
    width: 100%;
}

/* footer contact-me links */
.contact-links a {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--mainblue);
    
}

.contact-links a:hover {
    display: flex;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    color: var(--mainblue);
    
}
/* FOOTER SECTION END */
